<br/>
<h2>Create Bookmark</h2><br/><br/>

<form action = "#" method="POST" class="ui form">
        <div class = "field">
            <label for="link">Link</label>
            <input type="text" name="link">
        </div>
        <div class = "field">
            <label for="title">Title</label>
            <input type="text" name="title">
        </div>
        <div class = "field">
            <label for="publisher">Publisher</label>
            <input type="text" name="publisher">
        </div>
        <div class = "field">
            <label for="title">Tags</label>
            <select>
                <option value="0">Select Tag</option>
                {{#each tag }}
                    <option value = {{this.title}}>{{this.title}}</option>
                {{/each}}
            </select>
        </div>
     <input type="submit" value="Create" class="fluid ui teal button">
</form>
